.vscode
.git
.github
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.lintstagedrc.js
.prettierignore
.prettierrc.js
CHANGELOG.md
jest.config.js
scripts
**/node_modules
**/package-lock.json
**/yarn.lock
**/coverage
**/dist
**/docs
**/.DS_Store
**/__tests__
