@import '~@src/scss/_constants';

.header {
  background: $color-green;
  color: $color-white;
  height: 3.125rem;

  .page-title {
    display: inline-block;
    font-weight: 400;
    line-height: 3.125rem;
    padding: 0 2rem;
    vertical-align: top;
  }
}
